In [1]:
import numpy as np
import pandas as pd
import json

import matplotlib.pyplot as plt
from matplotlib import patches as patches
import cv2

In [42]:
train_data = pd.read_json("C:/Users/Adam/Desktop/ISA/Tensorflow_2_object_detection_API/malaria/training.json")
test_data = pd.read_json("C:/Users/Adam/Desktop/ISA/Tensorflow_2_object_detection_API/malaria/test.json")
print(train_data.shape, test_data.shape)

(1208, 2) (120, 2)

In [43]:
train_data.head()

,image,objects
0,{'checksum': '676bb8e86fc2dbf05dd97d51a64ac0af...,"[{'bounding_box': {'minimum': {'r': 1057, 'c':..."
1,{'checksum': '1225a18efce159eddf7b0e80e0ea642c...,"[{'bounding_box': {'minimum': {'r': 734, 'c': ..."
2,{'checksum': '3eaf840523c30fdf38897ffa01e194eb...,"[{'bounding_box': {'minimum': {'r': 724, 'c': ..."
3,{'checksum': '8a111dffacfa433029492780b9535091...,"[{'bounding_box': {'minimum': {'r': 563, 'c': ..."
4,{'checksum': 'ccef403e971460b86444cca669e68ca1...,"[{'bounding_box': {'minimum': {'r': 618, 'c': ..."

In [44]:
print(train_data['image'].sample().values, "\n",#
      train_data['objects'].sample().values)

[{'checksum': '7cf64fe4bccbe42257a67370d01f5ae8', 'pathname': '/images/bcaefb02-682a-41b9-acc7-e6cc010f5b30.png', 'shape': {'r': 1200, 'c': 1600, 'channels': 3}}]
 [list([{'bounding_box': {'minimum': {'r': 637, 'c': 746}, 'maximum': {'r': 763, 'c': 867}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 641, 'c': 127}, 'maximum': {'r': 741, 'c': 246}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 369, 'c': 855}, 'maximum': {'r': 488, 'c': 960}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 802, 'c': 551}, 'maximum': {'r': 906, 'c': 653}}, 'category': 'leukocyte'}, {'bounding_box': {'minimum': {'r': 853, 'c': 1436}, 'maximum': {'r': 970, 'c': 1560}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 501, 'c': 809}, 'maximum': {'r': 618, 'c': 932}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 734, 'c': 1426}, 'maximum': {'r': 854, 'c': 1550}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 488, 'c': 257}, 'maximum': {'r': 573, 'c': 352}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 635, 'c': 450}, 'maximum': {'r': 717, 'c': 544}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 896, 'c': 595}, 'maximum': {'r': 1004, 'c': 709}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 547, 'c': 586}, 'maximum': {'r': 665, 'c': 709}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 695, 'c': 258}, 'maximum': {'r': 797, 'c': 367}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 869, 'c': 703}, 'maximum': {'r': 985, 'c': 826}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 165, 'c': 575}, 'maximum': {'r': 272, 'c': 679}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 624, 'c': 344}, 'maximum': {'r': 725, 'c': 452}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 145, 'c': 460}, 'maximum': {'r': 278, 'c': 583}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 368, 'c': 486}, 'maximum': {'r': 477, 'c': 596}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 485, 'c': 366}, 'maximum': {'r': 589, 'c': 480}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 942, 'c': 799}, 'maximum': {'r': 1039, 'c': 922}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 466, 'c': 703}, 'maximum': {'r': 584, 'c': 815}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 245, 'c': 179}, 'maximum': {'r': 347, 'c': 278}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 206, 'c': 660}, 'maximum': {'r': 310, 'c': 764}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 1025, 'c': 335}, 'maximum': {'r': 1139, 'c': 454}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 155, 'c': 831}, 'maximum': {'r': 274, 'c': 954}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 372, 'c': 589}, 'maximum': {'r': 479, 'c': 690}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 349, 'c': 202}, 'maximum': {'r': 451, 'c': 297}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 46, 'c': 676}, 'maximum': {'r': 165, 'c': 791}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 288, 'c': 1092}, 'maximum': {'r': 410, 'c': 1210}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 681, 'c': 877}, 'maximum': {'r': 792, 'c': 994}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 1054, 'c': 746}, 'maximum': {'r': 1151, 'c': 836}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 773, 'c': 729}, 'maximum': {'r': 876, 'c': 850}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 398, 'c': 1165}, 'maximum': {'r': 518, 'c': 1299}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 298, 'c': 95}, 'maximum': {'r': 409, 'c': 213}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 301, 'c': 657}, 'maximum': {'r': 399, 'c': 750}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 1041, 'c': 795}, 'maximum': {'r': 1149, 'c': 907}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 878, 'c': 330}, 'maximum': {'r': 986, 'c': 444}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 779, 'c': 134}, 'maximum': {'r': 894, 'c': 243}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 584, 'c': 1484}, 'maximum': {'r': 697, 'c': 1599}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 559, 'c': 307}, 'maximum': {'r': 648, 'c': 422}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 482, 'c': 581}, 'maximum': {'r': 587, 'c': 682}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 880, 'c': 490}, 'maximum': {'r': 982, 'c': 601}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 1021, 'c': 974}, 'maximum': {'r': 1134, 'c': 1081}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 496, 'c': 964}, 'maximum': {'r': 601, 'c': 1086}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 359, 'c': 739}, 'maximum': {'r': 445, 'c': 825}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 682, 'c': 1282}, 'maximum': {'r': 796, 'c': 1411}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 42, 'c': 533}, 'maximum': {'r': 164, 'c': 653}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 988, 'c': 1156}, 'maximum': {'r': 1130, 'c': 1279}}, 'category': 'trophozoite'}, {'bounding_box': {'minimum': {'r': 147, 'c': 239}, 'maximum': {'r': 270, 'c': 348}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 721, 'c': 446}, 'maximum': {'r': 837, 'c': 549}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 447, 'c': 48}, 'maximum': {'r': 566, 'c': 181}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 553, 'c': 41}, 'maximum': {'r': 662, 'c': 165}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 259, 'c': 850}, 'maximum': {'r': 371, 'c': 964}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 112, 'c': 1083}, 'maximum': {'r': 197, 'c': 1191}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 1000, 'c': 218}, 'maximum': {'r': 1115, 'c': 329}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 517, 'c': 1156}, 'maximum': {'r': 619, 'c': 1269}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 11, 'c': 1042}, 'maximum': {'r': 113, 'c': 1144}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 16, 'c': 1140}, 'maximum': {'r': 120, 'c': 1251}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 263, 'c': 1448}, 'maximum': {'r': 363, 'c': 1550}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 333, 'c': 1389}, 'maximum': {'r': 440, 'c': 1512}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 478, 'c': 1052}, 'maximum': {'r': 573, 'c': 1169}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 950, 'c': 1076}, 'maximum': {'r': 1045, 'c': 1185}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 519, 'c': 93}, 'maximum': {'r': 632, 'c': 197}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 669, 'c': 1}, 'maximum': {'r': 795, 'c': 109}}, 'category': 'ring'}, {'bounding_box': {'minimum': {'r': 789, 'c': 299}, 'maximum': {'r': 882, 'c': 399}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 263, 'c': 761}, 'maximum': {'r': 369, 'c': 884}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 213, 'c': 1271}, 'maximum': {'r': 383, 'c': 1421}}, 'category': 'trophozoite'}, {'bounding_box': {'minimum': {'r': 417, 'c': 1378}, 'maximum': {'r': 614, 'c': 1516}}, 'category': 'trophozoite'}, {'bounding_box': {'minimum': {'r': 229, 'c': 995}, 'maximum': {'r': 408, 'c': 1122}}, 'category': 'trophozoite'}, {'bounding_box': {'minimum': {'r': 1, 'c': 689}, 'maximum': {'r': 86, 'c': 802}}, 'category': 'trophozoite'}, {'bounding_box': {'minimum': {'r': 963, 'c': 478}, 'maximum': {'r': 1149, 'c': 621}}, 'category': 'trophozoite'}, {'bounding_box': {'minimum': {'r': 1063, 'c': 916}, 'maximum': {'r': 1165, 'c': 1011}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 925, 'c': 263}, 'maximum': {'r': 1024, 'c': 349}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 773, 'c': 256}, 'maximum': {'r': 925, 'c': 349}}, 'category': 'trophozoite'}, {'bounding_box': {'minimum': {'r': 743, 'c': 165}, 'maximum': {'r': 839, 'c': 256}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 424, 'c': 680}, 'maximum': {'r': 535, 'c': 768}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 510, 'c': 494}, 'maximum': {'r': 648, 'c': 616}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 397, 'c': 213}, 'maximum': {'r': 485, 'c': 308}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 587, 'c': 1260}, 'maximum': {'r': 693, 'c': 1364}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 721, 'c': 415}, 'maximum': {'r': 802, 'c': 524}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 562, 'c': 1317}, 'maximum': {'r': 682, 'c': 1425}}, 'category': 'red blood cell'}, {'bounding_box': {'minimum': {'r': 45, 'c': 483}, 'maximum': {'r': 147, 'c': 582}}, 'category': 'red blood cell'}])]

In [45]:
#splitting train set into train and validation set
#https://stackoverflow.com/questions/24147278/how-do-i-create-test-and-train-samples-from-one-dataframe-with-pandas

msk = np.random.rand(len(train_data)) < 0.8

train = train_data[msk]
valid = train_data[~msk]

In [46]:
train.reset_index(inplace=True)
valid.reset_index(inplace=True)

In [47]:
train.shape, valid.shape

((952, 3), (256, 3))

In [48]:
train.head()

,index,image,objects
0,1,{'checksum': '1225a18efce159eddf7b0e80e0ea642c...,"[{'bounding_box': {'minimum': {'r': 734, 'c': ..."
1,2,{'checksum': '3eaf840523c30fdf38897ffa01e194eb...,"[{'bounding_box': {'minimum': {'r': 724, 'c': ..."
2,3,{'checksum': '8a111dffacfa433029492780b9535091...,"[{'bounding_box': {'minimum': {'r': 563, 'c': ..."
3,6,{'checksum': '36f63469b09e117ade01d97d3c7e2120...,"[{'bounding_box': {'minimum': {'r': 124, 'c': ..."
4,7,{'checksum': '82d98ef5d434e1b2d4693baef3d6c30e...,"[{'bounding_box': {'minimum': {'r': 130, 'c': ..."

#### Creating annotation csv file for training purpose
It should be in the below form:
filename, width, height, class, x_min, y_min, x_max, y_max

In [49]:
# creating dataframe with each bounding box as datapoint
train_image_list = [] # pathname
width = []            # width of the image
height = []           # height of the image
    # position of the bbox
y_max = []
y_min = []
x_max = []
x_min = []
    # label
class_label = []

for i in range(0,train.shape[0]):
    for j in range(0,len(train["objects"][i])):
        
        train_image_list.append(train["image"][i]["pathname"])
        
        width.append(train["image"][i]["shape"]["c"])
        height.append(train["image"][i]["shape"]["r"])
        
        y_max.append(train["objects"][i][j]["bounding_box"]["maximum"]["r"])
        y_min.append(train["objects"][i][j]["bounding_box"]["minimum"]["r"])
        x_max.append(train["objects"][i][j]["bounding_box"]["maximum"]["c"])
        x_min.append(train["objects"][i][j]["bounding_box"]["minimum"]["c"])
        
        class_label.append(train["objects"][i][j]["category"])
        
train_df = pd.DataFrame()

train_df["filepath"] = train_image_list
train_df["width"] = width
train_df["height"] = height
train_df["class"] = class_label
train_df["xmin"] = x_min
train_df["ymin"] = y_min
train_df["xmax"] = x_max
train_df["ymax"] = y_max

train_df.head()

,filepath,width,height,class,xmin,ymin,xmax,ymax
0,/images/10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,735,734,834,832
1,/images/10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,1283,939,1378,1039
2,/images/10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,1134,367,1235,476
3,/images/10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,766,307,864,400
4,/images/10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,1463,596,1556,701

In [50]:
train_df["filepath"].nunique()

952

In [51]:
train_df["class"].value_counts()

red blood cell    61154
trophozoite        1174
difficult           334
ring                278
schizont            139
gametocyte          114
leukocyte            77
Name: class, dtype: int64

In [52]:
# create func to change filepath to filename
def create_filename(filepath):
    filepath = str(filepath)
    _, _, filename = filepath.split("/")
    
    return filename  

train_df.filepath = train_df.filepath.apply(create_filename)
train_df.rename(columns={"filepath": "filename"}, inplace=True)
train_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,735,734,834,832
1,10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,1283,939,1378,1039
2,10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,1134,367,1235,476
3,10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,766,307,864,400
4,10be6380-cbbb-4886-8b9e-ff56b1710576.png,1600,1200,red blood cell,1463,596,1556,701

In [54]:
train_df.to_csv("images/annotation_train.csv",index = False)

#### Creating annotation csv file for validation purpose
It should be in the below form:
filename, width, height, class, x_min, y_min, x_max, y_max

In [55]:
# creating dataframe with each bounding box as datapoint
valid_image_list = [] # pathname
width = []            # width of the image
height = []           # height of the image
    # position of the bbox
y_max = []
y_min = []
x_max = []
x_min = []
    # label
class_label = []

for i in range(0,valid.shape[0]):
    for j in range(0,len(valid["objects"][i])):
        
        valid_image_list.append(valid["image"][i]["pathname"])
        
        width.append(valid["image"][i]["shape"]["c"])
        height.append(valid["image"][i]["shape"]["r"])
        
        y_max.append(valid["objects"][i][j]["bounding_box"]["maximum"]["r"])
        y_min.append(valid["objects"][i][j]["bounding_box"]["minimum"]["r"])
        x_max.append(valid["objects"][i][j]["bounding_box"]["maximum"]["c"])
        x_min.append(valid["objects"][i][j]["bounding_box"]["minimum"]["c"])
        
        class_label.append(valid["objects"][i][j]["category"])
        
valid_df = pd.DataFrame()

valid_df["filepath"] = valid_image_list
valid_df["width"] = width
valid_df["height"] = height
valid_df["class"] = class_label
valid_df["xmin"] = x_min
valid_df["ymin"] = y_min
valid_df["xmax"] = x_max
valid_df["ymax"] = y_max

valid_df.head()

,filepath,width,height,class,xmin,ymin,xmax,ymax
0,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,1440,1057,1540,1158
1,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,1303,868,1403,971
2,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,900,578,1008,689
3,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,611,304,713,408
4,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,881,198,1003,312

In [56]:
valid_df["filepath"].nunique()

256

In [57]:
valid_df["class"].value_counts()

red blood cell    16266
trophozoite         299
difficult           107
ring                 75
schizont             40
gametocyte           30
leukocyte            26
Name: class, dtype: int64

In [58]:
valid_df.filepath = valid_df.filepath.apply(create_filename)
valid_df.rename(columns={"filepath": "filename"}, inplace=True)
valid_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,1440,1057,1540,1158
1,8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,1303,868,1403,971
2,8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,900,578,1008,689
3,8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,611,304,713,408
4,8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1600,1200,red blood cell,881,198,1003,312

In [59]:
valid_df.to_csv("images/annotation_valid.csv",index = False)

#### Creating annotation csv file for testing purpose
It should be in the below form:
filename, width, height, class, x_min, y_min, x_max, y_max

In [61]:
# creating dataframe with each bounding box as datapoint
test_image_list = [] # pathname
width = []            # width of the image
height = []           # height of the image
    # position of the bbox
y_max = []
y_min = []
x_max = []
x_min = []
    # label
class_label = []

for i in range(0,test_data.shape[0]):
    for j in range(0,len(test_data["objects"][i])):
        
        test_image_list.append(test_data["image"][i]["pathname"])
        
        width.append(test_data["image"][i]["shape"]["c"])
        height.append(test_data["image"][i]["shape"]["r"])
        
        y_max.append(test_data["objects"][i][j]["bounding_box"]["maximum"]["r"])
        y_min.append(test_data["objects"][i][j]["bounding_box"]["minimum"]["r"])
        x_max.append(test_data["objects"][i][j]["bounding_box"]["maximum"]["c"])
        x_min.append(test_data["objects"][i][j]["bounding_box"]["minimum"]["c"])
        
        class_label.append(test_data["objects"][i][j]["category"])
        
test_df = pd.DataFrame()

test_df["filepath"] = test_image_list
test_df["width"] = width
test_df["height"] = height
test_df["class"] = class_label
test_df["xmin"] = x_min
test_df["ymin"] = y_min
test_df["xmax"] = x_max
test_df["ymax"] = y_max

test_df.head()

,filepath,width,height,class,xmin,ymin,xmax,ymax
0,/images/41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1744,576,1883,708
1,/images/41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1249,863,1373,977
2,/images/41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1573,210,1711,335
3,/images/41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1124,1017,1253,1142
4,/images/41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1655,572,1763,695

In [62]:
test_df["filepath"].nunique()

120

In [63]:
test_df["class"].value_counts()

red blood cell    5614
ring               169
trophozoite        111
gametocyte          12
schizont            11
difficult            5
Name: class, dtype: int64

In [64]:
test_df.filepath = test_df.filepath.apply(create_filename)
test_df.rename(columns={"filepath": "filename"}, inplace=True)
test_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1744,576,1883,708
1,41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1249,863,1373,977
2,41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1573,210,1711,335
3,41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1124,1017,1253,1142
4,41be1bd3-0d31-4881-bf1f-3ccdfa21ff12.jpg,1944,1383,red blood cell,1655,572,1763,695

In [65]:
test_df.to_csv("images/annotation_test.csv",index = False)

In [ ]:
# generate labelmap
## https://github.com/EdjeElectronics/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10/blob/master/training/labelmap.pbtxt

# generate tfrecord for API
## https://github.com/abdelrahman-gaber/tf2-object-detection-api-tutorial/blob/master/data_gen/generate_tfrecord.py

# pretrained models
## https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md